.env
backend/backend/__pycache__/
*.pyc
backend/backend/__pycache__/__init__.cpython-310.pyc
backend/backend/__pycache__/apps.cpython-310.pyc
backend/backend/__pycache__/chat_chain.cpython-310.pyc
backend/backend/__pycache__/chatbot.cpython-310.pyc
backend/backend/__pycache__/settings.cpython-310.pyc
backend/backend/__pycache__/urls.cpython-310.pyc
backend/backend/__pycache__/views.cpython-310.pyc
backend/backend/__pycache__/wsgi.cpython-310.pyc
backend/backend/__pycache__/__init__.cpython-310.pyc
backend/backend/__pycache__/apps.cpython-310.pyc
backend/backend/__pycache__/chat_chain.cpython-310.pyc
backend/backend/__pycache__/chatbot.cpython-310.pyc
backend/backend/__pycache__/settings.cpython-310.pyc
backend/backend/__pycache__/urls.cpython-310.pyc
backend/backend/__pycache__/views.cpython-310.pyc
backend/backend/__pycache__/wsgi.cpython-310.pyc
backend/backend/data.json
backend/backend/temp_pull.py

backend/chroma_db
backend/chroma_db_recent
backend/docs.pkl
backend/db.sqlite3
backend/chroma_db/chroma.sqlite3
