.App {
    text-align: center;
    background-color: rgb(25, 25, 25);
    /* Mardi Gras purple */
}

/* This will affect the scrollbar in all elements */
::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scroll thumb on hover */
}

.title {
    background: #408750;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chat-interface {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 750px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.chat-box {
    display: flex;
    justify-items: flex-end;
    width: 100%;
    overflow-y: hidden;
}

.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.message-list {
    flex-grow: 1;
    overflow-y: scroll;
}

.message {
    max-width: 100%;
    text-align: left;
    color: white;
}

.message-user{
    color: #408750;
    line-height: 0;
    margin-top: 13px;
    margin-bottom: 20px;
}

.message-ai {
    color: #FFD700;
    line-height: 0;
    margin-top: 13px;
    margin-bottom: 20px;
}

.message-text {
    color: white;
}

.message-text-ai{
    line-height: 1.5;
    padding-bottom: 10px;
}

.message-form {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
}

.message-form textarea,
.message-form button {
    padding: 10px;
}
.message-form button {
    padding: 10px;
    background-color: #408750;
}

.message-form textarea {
    width: 100%;
    padding: 10px;
    font-size: medium;
    border: 1px solid #585858;
    background-color: rgb(64, 64, 64);
    color: white;
    flex-grow: 1;
   
}

.ai-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #408750;
    flex-shrink: 0;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #408750;
    flex-shrink: 0;
}


.message-inner {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}